:root {
    --basic-bgc: #FFFFFF;
    --dark-bgc: #2F303A;
    --second-bgc: #F5F4FA;
    --text-color: #212121;
    --second-text-color: #757575;
    --color-button: #2196F3;
    --color-accent:#2196F3;
}

body {
    font-family: 'Roboto', Tahoma, sans-serif;
    color: var(--text-color);
    background-color: var(--basic-bgc);
}

p, h1, h2, h3, h4, h5,h6 {
    margin: 0;
}

ul, ol {
    padding-left: 0;
    margin: 0;
}

button {
    cursor: pointer;
    border: none; 
    outline: none;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* ------------------------HEADER--------------------------------- */

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: solid 1px #ECECEC ;
}
.header .container {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #000000;
    font-family: 'Raleway', Tahoma, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-right: 94px;
}

.accent {
    color: var(--color-accent);
}

.list  {
    list-style: none;
}

.nav-link:hover, .nav-link:focus, 
.contacts-link:hover, .contacts-link:focus,
.footer-contacts-link:hover, .footer-contacts-link:focus {
    color: var(--color-accent);
}

.nav-link, .contacts-link {
    text-decoration: none;
}

.nav-link {
    color: var(--text-color); 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.contacts {
    display: flex;
    margin-right: 0;
    margin-left: auto;
}

.contacts-link {
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts-item:first-child {
    margin-right: 50px;
}

/* ------------------------HERO------------------------------- */

.hero {
    background-color: var(--dark-bgc);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero-button { 
    color: #FFFFFF;
    background-color: var(--color-button);
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
} 

/* ------------------------ADVANTAGE------------------------------- */

.advantage {
    padding-top: 94px;
}

.advantage-list {display: flex;}

.advantage-item:not(:last-child) {
    margin-right: 30px;
}

.advantage-heading {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantage-text {
    color: var(--second-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* ------------------------FOTO------------------------------- */

.foto {
    padding-top: 94px;
    padding-bottom: 94px;
}

.foto-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.foto-list {
    display: flex;
    justify-content: space-between;
}


/* ------------------------TEAM------------------------------- */

.team {
    background-color: var(--second-bgc);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
    margin-left: -30px;
    /* justify-content: space-between; */
}

.team-member {
    background-color: var(--basic-bgc);
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
}

.team-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-position {
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

/* ------------------------FOOTER------------------------------- */

.footer-logo {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Raleway', Tahoma, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.footer {
    background-color: var(--dark-bgc);
    padding-top: 30px;
    padding-bottom: 30px;
}

.address {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 20px;
}
    
.footer-contacts-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-contacts-item {
    margin-top: 9px;
}


/* ------------------------PORTFOLIO------------------------------- */


.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.button-item:not(:last-child) {
    margin-right: 8px;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.btn {
    color: var(--text-color);
    background-color: var(--second-bgc);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
}

.btn:hover, .btn:focus {
    color: #FFFFFF;
    background-color: var(--color-button);
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.portfolio-item {
    flex-basis: calc(100% / n -30px);
    margin-left: 30px;
    margin-bottom: 30px;
}

.portfolio-text{
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.portfolio-top-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.portfolio-bottom-text {
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}




